FACILITY_NAME="Local Development"
FACILITY_ID=0
REMOTE_URL=http://grownetics.{{ domain }}

VERSION=124587729

# Automation Settings
SET_POINT_ALARM_TOLERANCE_PERCENTAGE=10

DB_HOSTNAME=appdb
MYSQL_ROOT_PASSWORD=grownetics
MYSQL_DATABASE=grownetics
MYSQL_TEST_DATABASE=grownetics_test
MYSQL_USER=grownetics
MYSQL_PASSWORD=grownetics

REDIS_HOSTNAME=redis
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=grownetics
RABBIT_PASS=
INFLUX_HOST=influxdb
INFLUX_PORT=8086
DEV=0
CERES=0
ENVIRONMENT=development

TIMEZONE_OFFSET=25200
TIMEZONE=MST

BACNET_URL=http://docker.for.mac.localhost:5051/bacrest/bacnet_device_3011000/analog-value_
#BACNET_URL=
BACNET_AUTH=
#BACNET_AUTH=
BACNET_RATE=60
BACNET_ENABLED=True

BURNOUT_PROTECTION_DELAY=30

ARGUS_URL=host.docker.internal:5555
ARGUS_RATE=5

# How many device boots to allow per minute
THRESHOLD_DEVICE_BOOTS=5

# How many times we should expect to receive data every minute
THRESHOLD_DATA_RECEIVED=50

# How many BACnet updates we expect to send per 10 minutes
THRESHOLD_BACNET_UPDATES=50

# How high a CT value has to read to be considered 'ON' to trigger Override Detection
THRESHOLD_CT_ON=5

# GitLab hosted images
NGINX_IMG=grownetics/nginx:1.0
GROWDASH_IMG=grownetics/growdash:1.0

# Docker hosted images
#NGINX_IMG=grownetics/grownetics/nginx:1.0
#GROWDASH_IMG=grownetics/grownetics/growdash:1.0

# Grafana

GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,ryantxu-ajax-panel,natel-discrete-panel,grafana-piechart-panel

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
RESTIC_REPOSITORY=
RESTIC_PASSWORD=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=

SALT=