---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Financial Tracker
  firefly_iii_app:
    restart: unless-stopped
    environment:
      - DB_HOST=firefly_iii_db
      - DB_DATABASE=firefly_db
      - DB_USERNAME=firefly_db
      - DB_PASSWORD={{ lookup('password', './settings/passwords/firefly_db_password chars=digits') }}
      - APP_KEY={{ lookup('password', './settings/passwords/firefly_app_key chars=digits length=31') }}
      - APP_ENV=local
      - APP_URL=https://money.{{ domain }}
      - TZ={{ common_timezone }}
      - ServerName=money.{{ domain }}
    image: jc5x/firefly-iii
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/firefly/export:/var/www/firefly-iii/storage/export"
      - "{{ volumes_root }}/firefly/upload:/var/www/firefly-iii/storage/upload"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.firefly_iii.loadbalancer.server.scheme=http"
      - "traefik.http.services.firefly_iii.loadbalancer.server.port=80"
      - "traefik.http.routers.firefly_iii-http.rule=Host(`money.{{ domain }}`)"
      - "traefik.http.routers.firefly_iii-http.entrypoints=http"
      - "traefik.http.routers.firefly_iii-http.middlewares={% if firefly_iii.https_only %}redirect@file, {% else %}{% if firefly_iii.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.firefly_iii.rule=Host(`money.{{ domain }}`)"
      - "traefik.http.routers.firefly_iii.entrypoints=https"
      - "traefik.http.routers.firefly_iii.middlewares={% if firefly_iii.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.firefly_iii.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.firefly_iii.tls.certresolver=dns"
      - "traefik.http.routers.firefly_iii.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.firefly_iii.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.firefly_iii.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.firefly_iii-tor-http.rule=Host(`money.{{ tor_domain }}`)"
      - "traefik.http.routers.firefly_iii-tor-http.entrypoints=http"
      - "traefik.http.routers.firefly_iii-tor-http.middlewares={% if firefly_iii.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  firefly_iii_db:
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - MYSQL_DATABASE=firefly_db
      - MYSQL_USER=firefly_db
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/firefly_db_password chars=digits')}}"
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    image: mariadb
    volumes:
      - "{{ volumes_root }}/firefly/db:/var/lib/mysql"
