---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  codeserver:
    image: codercom/code-server
    volumes:
      - "{{ volumes_root }}/codeserver/code:/root/project"
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8443:8443
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.codeserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.codeserver.loadbalancer.server.port=8443"
      - "traefik.http.routers.codeserver-http.rule=Host(`codeserver.{{ domain }}`)"
      - "traefik.http.routers.codeserver-http.entrypoints=http"
      - "traefik.http.routers.codeserver-http.middlewares={% if codeserver.https_only %}redirect@file, {% else %}{% if codeserver.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.codeserver.rule=Host(`codeserver.{{ domain }}`)"
      - "traefik.http.routers.codeserver.entrypoints=https"
      - "traefik.http.routers.codeserver.middlewares={% if codeserver.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.codeserver.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.codeserver.tls.certresolver=dns"
      - "traefik.http.routers.codeserver.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.codeserver.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.codeserver.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.codeserver-tor-http.rule=Host(`codeserver.{{ tor_domain }}`)"
      - "traefik.http.routers.codeserver-tor-http.entrypoints=http"
      - "traefik.http.routers.codeserver-tor-http.middlewares={% if codeserver.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
